#header {
	width: 100%;
	height: 90px;
	background-color: white;
}

#menu {
	width: 1366px;
	height: 80px;
}

#menu * {
	position: relative;
	float: left;
	width: 270px;
	height: 42px;
	
}

#contain {
	position: relative;
	width: 100%;
}

#revisioner {
	position: relative;
	float: left;
	width: 400px;
	border: 4px solid #333;
	border-radius: 40px;
	background-color: #EEE;
	margin-top: -10px;
}

p {
	font-family: Arial;
}

h3 {
	margin-left: 30px;
}

.p {
	margin-left: 50px;
}

#motton {
		position: relative;
		float: left;
		width: 500px;
		height: 350px;
		padding: 50px;
		margin-left: 150px;
}

.ruta {
	position: relative;
	float: left;
	width: 400px;
	margin-left: 35%;
	height: 350px; 
	border: 10px solid #f93e3f;
	border-radius: 40px;
}

#visa {
	position: absolute;
	margin-left: 140px;
	margin-top: 100px;
	width: 120px;
	height: 50px;
}

#skapa {
	position: absolute;
	margin-left: 140px;
	margin-top: 170px;
	width: 120px;
	height: 50px;
}

#inloggadsom {
	float: right;
	margin-right: 80px;
	font-size: 13pt;
}

#logut {
	float: right;
	margin-right: -290px;
	margin-bottom: 50px; 
	margin-top: 13px;
}

#konsult {
	position: absolute;
	margin-left: 140px;
	margin-top: 85px;
	width: 120px;
	height: 50px;
}

#anstalld {
	position: absolute;
	margin-left: 140px;
	margin-top: 155px;
	width: 120px;
	height: 50px;
}

#avbryt {
	position: absolute;
	margin-left: 165px;
	margin-top: 250px;
}

.tillbaka {
	position: relative;
	float: left;
	margin-top: 130px;
	margin-left: 33px;
	width: 65px;

}

.avbryter {
	position: relative;
	float: left;
	margin-top: 130px;
	margin-left: 20px;
	width: 65px;
}

#username {
	margin-top: 55px;
	margin-left: 30%;
	width: 169px;
}

#behorighet {
	margin-top: 10px;
	margin-left: 30%;
}

.spara {
	float: right;
	margin-right: 25px;
	margin-top: 130px;
}

#add {
	margin-left: -16%;
	margin-top: 10px;
}

h2 {
	margin-left: -10px;
}

form {
	margin-left: 120px;
	margin-top: 5px;
}

#anstalldkonto button {
	margin-top: 95px;
}

#tillbaka {
	margin-left: 25px;
}

li {
	margin-top: 5px;
	font-family: fantasy;
}

.loggain {
	position: relative;
	float: left;
	width: 400px;
	margin-left: 35%;
	margin-top: 90px;
	height: 350px; 
	border: 10px solid #00aa47;
	border-radius: 70px;
}

.username {
	margin-top: 45px;
	margin-left: 28%;
	width: 169px;
}

#password {
	margin-top: 20px;
	margin-left: 28%;
	width: 169px;
}

.login {
	position: relative;
	float: left;
	margin-top: 100px;
	margin-left: 143px;
	width: 110px;
}

#newuser {
	position: relative;
	margin-left: 143px;
	margin-top: 10px;
	width: 110px;
}

#pickpassword {
	margin-top: 20px;
	margin-left: 28%;
	width: 169px;
}

#repeatpassword {
	margin-top: 20px;
	margin-left: 28%;
	width: 169px;
}

#back {
	margin-top: 8px;
	margin-left: 143px;
	width: 110px;
}

#loggain {
	margin-top: 55px;
}

#landkod {
	margin-left: 270px;
	margin-top: 20px;
	width: 810px;
	font-size: 19px;
}

.gul {
	background-color: yellow;
}

.filtrera {
	margin-left: 270px;
	width: 152px;
	height: 30px;
}

#kategori {
	width: 1080px;
	margin-left: 135px;
	margin-top: 15px;
}

.grey {
	background-color: lightblue;
}

#filt {
	margin-left: 135px;
	width: 80px;
	margin-top: -20px;
}

.aktiv {
	background-color: #7bfd4f;
	width: 270px;
	height: 30px;
	border-radius: 15px;
}

.inaktiv {
	background-color: lightgrey;
	width: 270px;
	height: 30px;
	border-radius: 15px;
}

.utgar {
	background-color:#FF5FB4;/* #ffae57;*/
	width: 270px;
	height: 30px; 
	border-radius: 15px;
}

.levnamn {
	margin-left: 10px;
}

.knapp {
	position: absolute;
	margin-top: -40px;
	margin-left: 250px;
}

#filtleft {
	width: 152px;
	height: 30px;
}

#status {
	float: right;
}

.smallheader {
	margin-top: 10px;
}

#miss {
	color: #990033;
}

#plan {
	color: #39F;
}

#kom {
	color: #909;
}

#fakelink {
	text-decoration: underline;
}