<button type="button" id="filt">Filtrera</button>
<table id="kategori" border="1" cellspacing="0" cellpadding="2">
<tr class="grey">
	<td>Kategori</td>
	<td>Produktsäkerhet</td>
	<td>Kvalitet</td>
	<td>Miljö</td>
	<td>CSR</td>
	<td>Varumärkets risk</td>
	<td>Ekonomisk risk</td>
	<td>Riskpoäng produktsäkerhet per kategori</td>
	<td>Riskpoäng Code of Conduct per kategori</td>
</tr>
<tr>
	<td>Barnmat</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr>
<tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr><tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr><tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr><tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr><tr class="grey">
	<td>Sär-när</td>
	<td>3</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>11</td>
</tr>
<tr>
	<td>Färskt kött</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>3</td>
	<td>12</td>
	<td>12</td>
</tr>
</table>