<div id="konsultkonto" class="ruta">
	<h2><center>Konsult Konto</center></h2>
	<input type="text" name="Användarnamn" placeholder="Användarnamn" id="username">
	<div id="behorighet"><select>
		<option value="valj">Välj leverantör</option>
		<option value="barnproffset">Barnproffset</option>
		<option value="lillalila">Lilla lila</option>
		<option value="mm">Maryams Måsar</option>
		<option value="oj">OJ</option>
		<option value="oliveroliver">Olivers oliver</option>
		<option value="PK">Pelles kladdkaka</option>
		<option value="ro">Rektorns Original</option>
		<option value="om">Ödlemat</option>
	</select></div>
	<a href="./skapakonto.html"><button type="button" class="tillbaka">Tillbaka</button></a>
	<a href="./hem.html"><button type="button" class="avbryter">Avbryt</button></a>
	<button type="button" id="add">+ Lägg till fler leverantörer</button>
	<a href="./hem.html"><button type="button" class="spara" onclick="alert('Kontot är sparat')">Spara</button></a>
</div>