<div id="val" class="ruta">
		<button type="button" id="visa">Visa Konton</button>
		<a href="./skapakonto.html"><button type="button" id="skapa">Skapa Konto</button></a>


<!-- http://www.cssnewbie.com/showhide-content-css-javascript/ -->