<div id="val" class="ruta">
		<a href="./visakonton.html"><button type="button" id="visa">Visa Konton</button></a>
		<a href="./skapakonto.html"><button type="button" id="skapa">Skapa Konto</button></a>


<!-- http://www.cssnewbie.com/showhide-content-css-javascript/ -->