<button type="button" class="filtrera">Filtrera</button>

<table id="landkod" border="1" cellspacing="0" cellpadding="2">
<tr>
<td>Landskod</td>
<td>Land</td>
<td>Riskzon</td>
<td>Poäng</td>
</tr>
<tr>
<td>HM</td>
<td>Heard- och McDonaldsöarna</td>
<td>Lågrisk</td>
<td>-</td>
</tr>
<tr>
<td>SE</td>
<td>Sverige</td>
<td>Lågrisk</td>
<td>2,15</td>
</tr>
<tr>
<td>TO</td>
<td>Tonga</td>
<td class="gul">Högrisk</td>
<td>29,08</td>
</tr>
<tr>
<td>AQ</td>
<td>Antarktis</td>
<td>Lågrisk</td>
<td>-</td>
</tr>
<tr>
<td>BS</td>
<td>Bahamas</td>
<td>Medelrisk</td>
<td>4,17</td>
</tr>
<tr>
<td>HT</td>
<td>Haiti</td>
<td class="gul">Högrisk</td>
<td>11,45</td>
</tr>
<tr>
<td>IE</td>
<td>Irland</td>
<td>Lågrisk</td>
<td>4,5</td>
</tr>
</table>