<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="layout.css">
	<meta charset="utf-8">
	<title>Coop</title>
</head>
<body>
	<div id="container">
		<div id="header"><img src="./images/header.png"></div>
		<div id="menu">
			<img id="hem" src="./images/hem.png">
			<img id="lev" src="./images/leverantor.png">
			<img id="kat" src="./images/kategorier.png">
			<img id="land" src="./images/lander.png">
			<img id="kon" src="./images/konton.png">
		</div>
		<%= yield %>
	</div>	

</body>
</html>