#header {
	width: 100%;
	height: 120px;
	background-color: white;
}

#menu {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 80px;
}

#menu * {
	position: relative;
	float: left;
	width: 270px;
	height: 42px;
	
}

#contain {
	position: relative;
	width: 100%;
}

#revisioner {
	position: relative;
	float: left;
	width: 400px;
	border: 1px solid black;
	border-radius: 40px;
}

h3 {
	margin-left: 30px;
}

p {
	margin-left: 50px;
}

#motton {
		position: relative;
		float: left;
		width: 500px;
		height: 350px;
		padding: 50px;
		margin-left: 150px;
}

.ruta {
	position: relative;
	float: left;
	width: 400px;
	margin-left: 35%;
	height: 350px; 
	border: 10px solid #f93e3f;
	border-radius: 40px;
}

#visa {
	position: absolute;
	margin-left: 140px;
	margin-top: 100px;
	width: 120px;
	height: 50px;
}

#skapa {
	position: absolute;
	margin-left: 140px;
	margin-top: 170px;
	width: 120px;
	height: 50px;
}

#logut {
	position: relative;
	float: right;
	margin-right: 50px;
	margin-bottom: 50px; 
}

#konsult {
	position: absolute;
	margin-left: 140px;
	margin-top: 85px;
	width: 120px;
	height: 50px;
}

#anstalld {
	position: absolute;
	margin-left: 140px;
	margin-top: 155px;
	width: 120px;
	height: 50px;
}

#avbryt {
	position: absolute;
	margin-left: 170px;
	margin-top: 250px;
}

.tillbaka {
	position: relative;
	float: left;
	margin-top: 130px;
	margin-left: 33px;
	width: 65px;

}

.avbryter {
	position: relative;
	float: left;
	margin-top: 130px;
	margin-left: 20px;
	width: 65px;
}

#username {
	margin-top: 55px;
	margin-left: 30%;
	width: 169px;
}

#behorighet {
	margin-top: 10px;
	margin-left: 30%;
}

.spara {
	float: right;
	margin-right: 25px;
	margin-top: 130px;
}

#add {
	margin-left: -16%;
	margin-top: 10px;
}

h2 {
	margin-left: -10px;
}

form {
	margin-left: 120px;
	margin-top: 5px;
}

#anstalldkonto button {
	margin-top: 95px;
}

