<div id="skapakonto" class="ruta">
		<button type="button" id="konsult">Konsult Konto</button>
		<button type="button" id="anstalld">Anställd Konto</button>
		<button type="button" id="avbryt">Avbryt</button>
	</div>
</div>